<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="confirm.cancel()">×</button>
        <h4 class="modal-title"><i class="fa fa-warning"></i> <span translate>Please confirm</span></h4>
    </div>
    <div class="modal-body">
        <p ng-if="confirm.id == 'delete'" translate>Are you sure you want to delete this?</p>
        <p ng-if="confirm.id == 'changes_lost'" translate>Your changes will be lost. Are you sure?</p>
        <p ng-if="confirm.id == 'cancel_subscription'" translate>Are you sure you want to cancel this subscription?</p>
        <p ng-if="confirm.id == 'cancel_subscription_item'" translate>Are you sure you want to cancel this subscription item?</p>
        <p ng-if="confirm.id == 'remove_changes'" translate>Are you sure you want to remove these changes?</p>
    </div>

    <div class="row"></div>

    <div class="modal-footer">

        <button type="button" ng-if="confirm.id == 'delete'" class="btn btn-primary" ng-click="confirm.cancel()">
            <span translate>Cancel</span>
        </button>
        <button type="button" ng-if="confirm.id == 'delete'" id="modal-confirm-accept" class="btn btn-default" ng-click="confirm.ok()">
            <span translate>Delete</span>
        </button>

        <button type="button" ng-if="confirm.id == 'changes_lost'" class="btn btn-primary" ng-click="confirm.cancel()">
            <span translate>Stay on Page</span>
        </button>
        <button type="button" ng-if="confirm.id == 'changes_lost'" id="modal-confirm-accept" class="btn btn-default" ng-click="confirm.ok()">
            <span translate>Discard Changes</span>
        </button>

        <button type="button" ng-if="confirm.id == 'cancel_subscription'" class="btn btn-primary" ng-click="confirm.cancel()">
            <span translate>Cancel</span>
        </button>
        <button type="button" ng-if="confirm.id == 'cancel_subscription'" id="modal-confirm-accept" class="btn btn-default" ng-click="confirm.ok()">
            <span translate>Cancel Subscription</span>
        </button>
        <button type="button" ng-if="confirm.id == 'cancel_subscription_item'" id="modal-confirm-accept" class="btn btn-default" ng-click="confirm.ok()">
            <span translate>Cancel Subscription Item</span>
        </button>
        <button type="button" ng-if="confirm.id == 'remove_changes'" id="modal-confirm-accept" class="btn btn-default" ng-click="confirm.ok()">
            <span translate>Remove Changes</span>
        </button>

    </div>
</div>
