<div class="panel clearfix">
    <div class="panel-heading">
        <span class="panel-title">{{panelTitle}}</span>

        <div class="panel-heading-controls">
            <span><strong>{{transaction_currency}}</strong></span>
        </div>

    </div>

    <div class="panel-body panel-tight">
        <div class="col-xs-12 panel-tight-row">
            <div class="col-xs-12 panel-tight-section ledger"><label translate>Subtotal</label><span class="pull-right" ng-class="{ 'text-danger': isRefund }">{{selected.subtotal | currency: ""}}</span></div>
        </div>

        <div class="col-xs-12 panel-tight-row">
            <div class="col-xs-12 panel-tight-section ledger"><label translate>Shipping</label><span class="pull-right" ng-class="{ 'text-danger': isRefund }">{{selected.shipping | currency: ""}}</span></div>
        </div>

        <div class="col-xs-12 panel-tight-row">
            <div class="col-xs-12 panel-tight-section ledger"><label translate>Tax</label><span class="pull-right" ng-class="{ 'text-danger': isRefund }">{{selected.tax | currency: ""}}</span></div>
        </div>

        <div class="col-xs-12 panel-tight-row">
            <div class="col-xs-12 panel-tight-section ledger last text-bg"><label translate>Total</label><span class="pull-right" ng-class="{ 'text-danger': isRefund }">{{selected.total | currency: ""}}</span></div>
        </div>

        <div class="col-xs-12 panel-tight-row" style="margin-bottom: -2px;" ng-if="loadDetails != null">
            <div class="col-xs-12 panel-tight-section">
                <span>
                    <a class="pointer" ng-click="toggleLoadDetails()" ng-show="loadDetails ==  false" translate>See details</a>
                    <a class="pointer" ng-click="toggleLoadDetails()" ng-show="loadDetails ==  true" translate>Hide details</a>
                </span>
            </div>
        </div>

        <div class="col-xs-12 panel-tight-row" style="margin-bottom: -2px;" ng-if="detailsUrl != null">
            <div class="col-xs-12 panel-tight-section">
                <span>
                    <a href="{{detailsUrl}}">See details</a>
                </span>
            </div>
        </div>

    </div>

</div>