<div class="panel light-shadow">

    <div class="row spacer-t20"></div>

    <div class="col-xs-12 col-sm-6" ng-repeat="paymentMethod in list.data" ng-if="list.data">
        <div class="panel light-shadow">
            <div class="panel-heading">
                <a ng-href="#/payment_methods/{{paymentMethod.payment_method_id}}/edit" class="text-capitalize text-bg">{{paymentMethod.data.label || paymentMethod.type | removeUnderscore}}</a>
                <i class="fa fa-check-square-o text-success spacer-l10 pull-right" ng-show="paymentMethod.is_default" title="Default Payment Method"></i>
            </div>

            <div class="panel-body" ng-if="paymentMethod.type == 'credit_card'">
                <div class="spacer-b10">
                    <div class="lbl text-xs text-fade"><span>Card Number</span></div>
                    <div class="text-bg"><span>{{paymentMethod.data.mask}} ({{paymentMethod.data.exp_month}}/{{paymentMethod.data.exp_year}})</span></div>
                </div>
                <div class="pull-right">
                    <img ng-src="images/{{functions.getPaymentImageName(paymentMethod)}}" style="height: 22px;" />
                </div>
            </div>

            <div class="panel-body" ng-if="paymentMethod.type == 'paypal' || paymentMethod.type == 'amazon_pay'">
                <div class="spacer-b10">
                    <div class="lbl text-xs text-fade"><span>Billing Agreement ID</span></div>
                    <div class="text-bg"><span>{{paymentMethod.data.billing_agreement_id}}</span></div>
                </div>
                <div class="pull-right">
                    <img ng-src="images/{{functions.getPaymentImageName(paymentMethod)}}" style="height: 22px;" />
                </div>
            </div>

        </div>

    </div>
    <div class="row"></div>
    <p ng-if="list.data.length == 0" class="no-info" translate>No payment methods found</p>
</div>

